@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: #ffffff;

		--text-base: #000000;
		--text-revert: #ffffff;

		--font-sans: -apple-system, system-ui, BlinkMacSystemFont, 'Helvetica Neue',
			'Helvetica', sans-serif;
	}

	*,
	*:before,
	*:after {
		box-sizing: inherit;
	}

	html {
		height: 100%;
		box-sizing: border-box;
		touch-action: manipulation;
		text-rendering: optimizeLegibility;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}

	html,
	body {
		font-family: var(--font-sans);
		text-rendering: optimizeLegibility;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		background-color: var(--background);
		color: var(--text-base);
		overscroll-behavior-x: none;
	}

	body {
		position: relative;
		min-height: 100%;
		margin: 0;
	}

	a {
		-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	}

	/* CUSTOM FONTS */

	/* @font-face { */
	/* 	font-family: FONT_NAME; */
	/* 	font-style: normal; */
	/* 	font-weight: 500; */
	/* 	font-display: swap; */
	/* 	src: local('FONT_NAME'), url('/fonts/FONT_NAME.woff2') format('woff2'), */
	/* 		url('/fonts/FONT_NAME.woff') format('woff'), */
	/* 		url('/fonts/FONT_NAME.ttf') format('truetype'); */
	/* } */
}
